*.obj
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.idb

Debug/
Release/

.vs/

*.user
*.suo
*.vcxproj.user

*.log
*.tlog
*.lastbuildstate

packages/

*.mdf
*.ldf

CMakeCache.txt
CMakeFiles/

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.tmp
*.tmp_proj
